.categories {
  @include container;
  margin-top: 22px;

  &__list {
    @include ul-reset;
  }

  &__item {
    padding-bottom: 20px;
  }

  &__article {
    padding-left: 20px;
    background-color: #f2f2f2;
  }

  &__title {
    @include reset;
    position: relative;
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 25px;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $green;
    }

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 25px;
      display: block;
      width: 35px;
      height: 49px;
      background-repeat: no-repeat;
    }
  }

  &__article--slim &__title::after {
    background-image: url("../img/icon-cat-slim.svg");
  }

  &__article--pro &__title::after {
    left: -7px;
    top: 36px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }

  &__content {
    @include reset;
    position: relative;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 21px;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $black4;

    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  &__link {
    @include link-reset;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    padding-left: 0;
    padding-right: 44px;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 22px;
      width: 33px;
      height: 11px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-position: -8px 0;
      transition: 0.3s;
    }

    &:hover::before {
      background-position: 0 0;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;

    &__item {
      padding-bottom: 30px;
    }

    &__article {
      position: relative;
      padding-left: 54px;
      padding-bottom: 40px;
      padding-right: 262px;
    }

    &__article--pro {
      padding-right: 294px;
    }

    &__title {
      position: static;
      padding-top: 77px;
      padding-left: 0;
      font-size: 36px;
      line-height: 37px;

      &::before {
        left: auto;
        right: 60px;
        top: 90px;
        width: 200px;
        height: 200px;
      }

      &::after {
        left: auto;
        right: 92px;
        top: 78px;
        width: 140px;
        height: 194px;
      }
    }

    &__article--pro &__title::after {
      left: auto;
      right: 30px;
      top: 135px;
      width: 268px;
      height: 112px;
    }

    &__content {
      padding-top: 10px;
      padding-bottom: 36px;
      font-size: 16px;
      line-height: 24px;

      &::before {
        content: none;
      }
    }

    &__link {
      padding-right: 56px;
      font-size: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 80px;
    }

    &__article {
      width: 570px;
      padding-right: 30px;
    }

    &__title {
      position: relative;
      padding-left: 160px;
      padding-bottom: 35px;

      &::before {
        right: auto;
        left: 0;
        top: 48px;
        width: 100px;
        height: 100px;
      }

      &::after {
        right: auto;
        left: 14px;
        top: 40px;
        width: 70px;
        height: 97px;
      }
    }

    &__article--pro &__title::after {
      left: -20px;
      top: 68px;
      width: 134px;
      height: 56px;
    }

    &__content {
      padding-top: 38px;
      padding-bottom: 12px;
      line-height: 1.5;
    }
  }
}
