.contacts {
  &__address-wrap {
    @include container;
    display: flex;
    padding-top: 28px;
    padding-bottom: 26px;
    outline: 1px solid #0ff;
  }

  &__col {
    width: 50%;
    font-family: $arial;
    font-size: 14px;
    line-height: 20px;
  }

  &__col--lead {
    font-family: $oswald;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__map {
    height: 362px;
  }

  &__map iframe {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    &__address-wrap {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 65px;
      padding-bottom: 55px;
    }

    &__col {
      font-size: 16px;
    }

    &__col--lead {
      font-size: 20px;
      line-height: 25px;
    }

    &__col--address {
      text-align: right;
    }

    &__city {
      padding-top: 20px;
    }

    &__map {
      height: 400px;
    }
  }
}
