.example {
  background-color: #f2f2f2;

  &__container {
    @include container;
  }

  &__content {
    padding-top: 16px;
  }

  &__title {
    padding-bottom: 24px;
  }

  &__text {
    @include reset;
    padding-right: 5px;
    padding-bottom: 24px;
    font-family: $arial;
    font-size: 14px;
    line-height: 18px;
    color: $black4;
  }

  &__props {
    @include ul-reset;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__prop {
    width: 124px;
    line-height: 1;
    text-align: center;
  }

  &__prop-val {
    padding: 15px 5px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    font-size: 24px;
    text-transform: uppercase;
  }

  &__prop-name {
    width: 87px;
    padding: 0 5px;
    margin: 0 auto;
    margin-top: -8px;
    font-family: $arial;
    font-size: 12px;
    text-transform: lowercase;
    background-color: #f2f2f2;
  }

  &__costs {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  &__costs > div {
    display: inline-block;
  }

  &__figure {
    width: 320px;
    margin: 0 auto;
  }

  &__slides {
    @include ul-reset;
    padding-bottom: 32px;
  }

  &__slide--after {
    display: none;
  }

  &__fig-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
  }

  &__range {
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    margin: 0 18px;
  }

  &__range::before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    right: 5px;
    top: 3px;
    width: 41%;
    height: 6px;
    border-radius: 3px;
    background-color: $green;
  }

  &__range-btn {
    @include button-reset;
  }

  &__fig-btn {
    @include link-reset;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;

    &__content {
      padding-bottom: 62px;
      padding-top: 44px;
    }

    &__title {
      padding-bottom: 62px;
    }

    &__text {
      padding-right: 10px;
      padding-bottom: 52px;
      font-size: 16px;
      line-height: 24px;
    }

    &__info {
      display: flex;
    }

    &__prop {
      display: flex;
      flex-direction: column;
      width: 162px;
      margin-right: 42px;
    }

    &__prop:last-child {
      margin-right: 0;
    }

    &__prop-val {
      padding: 17px 5px;
      font-size: 30px;
      line-height: 37px;
    }

    &__prop-name {
      width: auto;
      font-size: 14px;
      background-color: #ffffff;
    }

    &__costs {
      padding-top: 10px;
      margin-left: auto;
      font-size: 20px;
      line-height: 27px;
    }

    &__costs > div {
      display: block;
      text-align: right;
    }

    &__figure {
      position: relative;
      width: auto;
    }

    &__figure::before {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      left: 0;
      right: 0;
      top: 170px;
      bottom: 0;
      background-image: linear-gradient(to right, #f2f2f2 0, #f2f2f2 50vw, #eaeaea 50vw);
    }

    &__figure-wrap {
      position: relative;
      width: 690px;
      padding-bottom: 44px;
      margin: 0 auto;
    }

    &__slides {
      width: 690px;
      margin: 0 auto;
      min-height: 517px;
      overflow: hidden;
    }

    &__slide {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      height: 100%;
      background-image: linear-gradient(#ffffff 0%, #ffffff 170px, #eaeaea 170px);
    }

    &__slide--before {
      left: 0;
      background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 170px, #f2f2f2 170px);
    }

    &__slide--after {
      right: 0;
      left: 50%;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
    }

    &__img {
      position: relative;
      left: 7px;
      display: block;
      width: 690px;
      max-width: none;
      height: 517px;
    }

    &__fig-controls {
      position: relative;
      padding-top: 25px;
    }

    &__range {
      width: 428px;
      height: 6px;
      background-color: #dcdcdc;
    }

    &__range::before {
      content: none;
    }

    &__range-btn {
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      width: 34px;
      height: 34px;
      border-style: solid;
      border-width: 1px;
      border-color: #cdcdcd;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      transition: 0.3s;
    }

    &__range-btn::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
    }

    &__range-btn:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &__range-btn:active {
      border-color: $green;
      border-width: 2px;
      outline: none;
    }

    &__fig-btn {
      position: absolute;
      font-size: 20px;
    }

    &__fig-btn::before {
      @include pseudo;
      left: 0;
      right: 0;
      bottom: -7px;
      height: 1px;
      background-image: repeating-linear-gradient(to right, #bebebe 0, #bebebe 1px, transparent 1px, transparent 2px);
    }

    &__fig-btn:hover::before {
      background-image: none;
      background-color: #bebebe;
    }

    &__fig-btn:active::before {
      background-image: none;
      background-color: transparent;
    }

    &__fig-btn:first-child {
      left: 60px;
    }

    &__fig-btn:last-child {
      right: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    // overflow: hidden;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 160px, #f2f2f2 160px);

    &::before {
      @include pseudo;
      z-index: 100;
      left: calc(50vw + 630px);
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(#ffffff 0%, #ffffff 160px, #eaeaea 160px);
      // outline: 2px solid #f00;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      width: 1300px;
      padding: 0 40px;
      padding-right: 0;
      margin: 0 auto;
    }

    & > div {
      outline: 1px solid #0f0;
    }

    &__container {
      width: 440px;
      padding: 0;
      margin: 0;
      margin-right: 120px;
    }

    &__content {
      padding-top: 28px;
      padding-bottom: 38px;
    }

    &__text {
      padding-top: 82px;
      padding-right: 5px;
    }

    &__info {
      flex-direction: column;
    }

    &__props {
      justify-content: flex-start;
      padding-top: 15px;
    }

    &__prop {
      margin-right: 42px;
    }

    &__prop-name {
      background-color: #f2f2f2;
    }

    &__costs {
      display: flex;
      padding-top: 32px;
      margin: 0;
    }

    &__costs &__costs-val {
      flex-grow: 1;
      padding-right: 46px;
      text-align: center;
    }

    &__slides {
      margin-top: -30px;
    }

    &__slide {
      z-index: auto;
    }

    &__slide--before {
      background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 190px, #f2f2f2 190px);
    }

    &__slide--after {
      left: 53.7%;
      background-image: linear-gradient(#ffffff 0%, #ffffff 190px, #eaeaea 190px);
    }


    &__fig-controls {
      width: 570px;
      padding-top: 50px;
      margin-left: 85px;
    }

    &__fig-btn:first-child {
      left: 0;
    }

    &__fig-btn:last-child {
      right: 0;
    }
  }
}
