.page-header {
  &__container {
    @include container;
    position: relative;
  }

  &__row {
    padding-top: 12px;
    padding-bottom: 16px;
  }

  &__nav-btn {
    @include button-reset;
    position: absolute;
    top: 23px;
    right: 20px;
    width: 24px;
    height: 18px;

    outline: none;
  }

  &__nav-btn-bar {
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    left: 0;
    top: 0;
    transform: translateY(0) rotateZ(0);
    transition: top 0.1s ease-in,
                transform 0.3s ease-in 0.1s;
  }

  &__nav-btn-bar:nth-of-type(2) {
    transform: scaleX(1);
    top: 8px;
  }

  &__nav-btn-bar:last-of-type {
    top: 16px;
  }

  &__nav-btn:hover {
    opacity: 0.6;
  }

  &__nav-btn:active {
    opacity: 0.4;
  }

  &__nav-btn--opened {
    // transform: rotateZ(45deg);

    // animation: rotateBtn 0.6s;
  }

  &__nav-btn--opened &__nav-btn-bar:last-of-type {
    top: 8px;
    transform: rotateZ(135deg);
  }

  &__nav-btn--opened &__nav-btn-bar:first-of-type {
    top: 8px;
    transform: rotateZ(-135deg);

    // animation: rotateBtnBar 0.6s;
  }

  &__nav-btn--opened &__nav-btn-bar:nth-of-type(2) {
    transform: scaleX(0);
  }

  &__content {
    position: relative;
    text-align: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      min-height: 305px;
      background-color: #63a73a;
      background-repeat: no-repeat;
      background-image: url("../img/bg-header.jpg");
      background-position: 50% 0;
    }
  }

  &__title {
    @include reset;
    padding-top: 25px;
    line-height: 38px;
    color: #ffffff;
  }

  &__lead {
    padding-top: 23px;
    font-family: $oswald;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__img {
    margin-top: 30px;
  }

  &__btn {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 26px;
  }

  @media (min-width: $tablet-width) {
    &__row {
      display: flex;
      padding-top: 24px;
    }

    &__nav-btn {
      display: none;
    }

    &__content {
      text-align: left;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__content::before {
      content: none;
    }

    &__title {
      padding-top: 44px;
      padding-left: 90px;
      width: 516px;
      font-size: 60px;
      line-height: 1;
      color: $black1;
    }

    &__lead {
      padding-top: 40px;
      padding-left: 90px;
      padding-bottom: 45px;
      width: 516px;
      font-size: 20px;
      line-height: 1;
      color: $black1;
    }

    &__pic {
      order: 10;
    }

    &__img {
      margin-top: -80px;
    }

    &__btn {
      position: relative;
      z-index: 1;
      align-self: flex-start;
      width: auto;
      padding-top: 17px;
      padding-bottom: 17px;
      margin-left: 90px;
      font-size: 20px;
      line-height: 1;
    }
  }


  @media (min-width: $desktop-width) {
    & {
      position: relative;
    }

    &__row {
      padding-top: 55px;
      padding-bottom: 25px;
    }

    &__content {
      position: static;
    }

    &__content::before {
      content: "";
      top: 0;
      bottom: 0;
      left: 50%;
      background-image: url("../img/bg-header-desktop.jpg");
      background-color: #64a83b;
    }

    &__content &__container {
      flex-wrap: wrap;
      align-content: flex-start;
      height: 557px;
    }

    &__title {
      padding-top: 84px;
      padding-left: 82px;
    }

    &__lead {
      padding-left: 82px;
      padding-bottom: 50px;
    }

    &__btn {
      margin-left: 82px;
    }

    &__pic {
      flex-grow: 1;
      width: 552px;
    }

    &__img {
      width: 552px;
      margin-top: 5px;
      margin-left: -64px;
      outline: 1px solid #0ff;
    }
  }
}
