.page-nav {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {

    margin-left: auto;

    &__list {
      @include ul-reset;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      padding-top: 8px;
      margin-right: -36px;
    }

    &__item {
      margin-right: 36px;
    }

    &__link {
      @include link-reset;
      display: inline-block;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: $black1;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__link--active {
      position: relative;
      pointer-events: none;

      &::before {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $green;
      }
    }
  }


  @media (min-width: $desktop-width) {
    &__link {
      font-size: 20px;
    }

    .index-page &__link {
      color: #ffffff;
    }

    .index-page &__link--active {
      &::before {
        background-color: #ffffff;
      }
    }
  }
}
