@keyframes rotateBtn {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(135deg);
  }

  100% {
    transform: rotateZ(135deg);
  }
}

@keyframes rotateBtnBar {
  0% {
    transform: translateY(8px) rotateZ(0);
  }

  50% {
    transform: translateY(8px) rotateZ(0);
  }

  100% {
    transform: translateY(8px) rotateZ(-90deg);
  }
}


