$opensans: "Open Sans", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

$black1: #111111;
$black4: #444444;
$green: #68b738;

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;


// $tablet-width: 4000px;
$desktop-width: 4000px;
// $mobile-width-only: 4000px;
